<app-nav></app-nav>

  <form method="post">
  
    <mat-form-field class="input-container">
  
      <mat-label>Ingresar Datos</mat-label>
      <div class="input-button-container">
        <input matInput type="text" placeholder="datos..." [(ngModel)]="text" name="text" id="text" required
          (input)="update_table()">
        <button mat-raised-button color="primary" type="button" (click)="update_table()">Buscar</button>
      </div>
      <!--
        <mat-error *ngIf="text.invalid">{{getErrorMessage()}}</mat-error>
        -->
    </mat-form-field>
  </form>
  
  <div class="input-button-container">
    <button mat-raised-button color="primary" (click)="uploadToListado()">DESCARGAR LISTA</button>
  </div>
  
  <div class="text-center">
    <h1 class="mt-1 mb-5 pb-1">
      <span>LISTA DE AFILIADOS</span>
    </h1>
  </div>
  
  <div class="mat-elevation-z8 mat-table-responsive table-container scroll-y">
    <table mat-table [dataSource]="dataSource" id="names">
  
      <!-- Id Column -->
      <ng-container matColumnDef="IDSJ">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> ID AFILIADOSJ </th>
        <td mat-cell *matCellDef="let element" class=" text-center"> {{element.IDSJ}} </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="NRO">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> Nº AFILIADO </th>
        <td mat-cell *matCellDef="let element" class=" text-center">
          <a href="javascript:void(0)" (click)="navigateToAfiliado(element)">{{ element.NRO }}</a>
        </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="CUIL">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> CUIL </th>
        <td mat-cell *matCellDef="let element" class=" text-center"> {{element.CUIL}} </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="NOMBRES">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> NOMBRES </th>
        <td mat-cell *matCellDef="let element" class=" text-center"> {{element.NOMBRES}} </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="PLANVIGENTE">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> VIGENCIA </th>
        <td mat-cell *matCellDef="let element" class=" text-center"> {{element.PLANVIGENTE === 1 ? 'SI' : 'NO'}} </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="BAJA">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> BAJA </th>
        <td mat-cell *matCellDef="let element" class=" text-center"> {{element.BAJA === 1 ? 'SI' : 'NO'}} </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="DESCARGAR">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> DESCARGAR </th>
        <td mat-cell *matCellDef="let element" class=" text-center">
          <button mat-fab aria-label="Example icon button with a delete icon" (click)="uploadToAfiliado(element)">
            <mat-icon>person</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons (page)="onPageChange($event)"
      [length]="totalRegistros" [pageSize]="registrosPorPagina" aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

