<app-nav></app-nav>
<div class="card-columns">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">RESOLUCION</h4>
            <p class="card-text">{{element.RESOLUCION}}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">DESCRIPCION</h4>
            <p class="card-text">{{element.DESCRIPCION}}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">ESTADO</h4>
            <p class="card-text">{{element.INHABILITADO}}</p>
        </div>
    </div>
</div>