<app-nav></app-nav>

<form  method="post">

    <mat-form-field class="input-container">
      
      <mat-label>Ingresar Datos</mat-label>
      <div class="input-button-container">
        <input matInput type="text" placeholder="datos..."  name="text" id="text" required>
      <button mat-raised-button color="primary" type="button" >Buscar</button>
    
      </div>
      <!--
      <mat-error *ngIf="text.invalid">{{getErrorMessage()}}</mat-error>
      -->
    </mat-form-field>
</form>
  
  <!--
  <div class="input-button-container">
    <button mat-raised-button color="primary" (click)="uploadToListado()">DESCARGAR LISTA</button>
  </div>
  -->
  <div class="text-center">
    <h1 class="mt-1 mb-5 pb-1">
      <span >LISTA DE CONVENIOS</span>
    </h1>
  </div>
  
  <div class="mat-elevation-z8 mat-table-responsive table-container scroll-y">
    <table mat-table [dataSource]="dataSource" id="names">
  
      <!-- Id Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> ID </th>
        <td mat-cell *matCellDef="let element" class=" text-center"> {{element.ID}} </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="RESOLUCION">
          <th mat-header-cell *matHeaderCellDef class=" text-center"> Nº RESOLUCION </th>
          <td mat-cell *matCellDef="let element" class=" text-center"> {{ element.RESOLUCION }} </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="DESCRIPCION">
        <th mat-header-cell *matHeaderCellDef class=" text-center"> DESCRIPCION </th>
        <td mat-cell *matCellDef="let element" class=" text-center"> {{element.DESCRIPCION}} </td>
      </ng-container>
  
      <!-- Id Column -->
      <ng-container matColumnDef="INHABILITADO">
          <th mat-header-cell *matHeaderCellDef class=" text-center"> INHABILITADO </th>
          <td mat-cell *matCellDef="let element" class=" text-center"> {{element.INHABILITADO}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                   showFirstLastButtons
                   (page)="onPageChange($event)"
                   [length]="totalRegistros"
                   [pageSize]="registrosPorPagina"
                   
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
