<app-nav></app-nav>
<br>
<div class="card-columns d-flex justify-content-center align-items-center">
    <div class="card">
        
        <div class="card-body">
            <h4 class="card-title text-center">Noticia</h4>
            <p class="card-text">Texto</p>
        </div>
    </div>
    <div class="card">
        
        <div class="card-body">
            <h4 class="card-title text-center">Noticia</h4>
            <p class="card-text">Texto</p>
        </div>
    </div>

    <div class="card">
        
        <div class="card-body">
            <h4 class="card-title text-center">Noticia</h4>
            <p class="card-text">Texto</p>
        </div>
    </div>

    <div class="card">
        
        <div class="card-body">
            <h4 class="card-title text-center">Noticia</h4>
            <p class="card-text">Texto</p>
        </div>
    </div>
</div>  

